<div class="row justify-content-center">
    <h2 id="home-header" class="my-3">home.</h2>
</div>
{{#each post as |post|}}
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card border-success my-4">
                {{!-- class card-body gives a nice padding around the text. --}}
                <div class="card-body">
                    <a class="card-title" href="/post/{{id}}">{{title}}</a>
                    <p class="card-text">sincerely, {{user.username}} on {{format_date createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
{{/each}}