<div>
    <h5>here is the post title again {{post.title}}</h5>
    <h5>here is the post body/CONTENT. {{post.body}}</h5>
    <h5>here is the username {{post.user.username}}</h5>
    <h5>date created: {{post.createdAt}}</h5>
</div>
<div>
    <h5>comment box</h5>
</div>